/* Breadcrum section */

.breadcrumb-section {
    padding-top: 30px;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 30px;
}

.breadcrumb-section .breadcrumb-text {
    text-align: center;
}

/* Candidates section */

.candidates-section {
    padding-top: 0;
}

.candidate-item {
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.candidate-item .cd-pic img {
    max-width: 100px;
    min-width: 100%;
    height: auto;
    border-radius: 2px;
}

.candidate-item .cd-text .cd-title {
    margin-bottom: 28px;
}

.candidate-item .cd-text .cd-title h4 {
    color: black;
    font-weight: 600;
    margin-bottom: 13px;
}

.candidate-item .cd-text .cd-title span {
    display: block;
    font-size: 14px;
    color: #666;
}


.candidate-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.cd-pic {
    position: relative; 
}

.overlay {
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #eee;
    opacity: 0; 
    transition: bottom 0.3s, opacity 0.3s;
}

.candidate-item:hover .overlay {
    bottom: 0; 
    opacity: 1; 
}

.overlay{
  position: absolute;  
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #eee;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s;
}



.add-vote {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
}

.add-vote > * {
    position: relative;
    width: 100%; 
    margin-bottom: 1rem; 
}

.add-vote input#id_can {
    display: block;
    padding: 1rem;
    width: 100%; 
}

.add-vote button {
    width: 100%;
}

/* Media Query para dispositivos de escritorio */
@media (min-width: 768px) {
    .add-vote > * {
        width: 50%; /* El input y botón ocupan la mitad cada uno */
    }
    .add-vote input#id_can {
        width: 60%; /* Ajuste específico si el input necesita menos espacio */
    }
    .add-vote button {
        width: 30%; /* El botón ocupa 1/3 del espacio */
        margin-left: 1rem;
    }
}